{% extends "base.html" %}

{% block title %}Add Pets{% endblock %}

{% block content %}

<h1 class="text-primary container">Add a Pet!</h1>

<div class="container">
    <form id="pet-add-form" method="POST">
        {{form.hidden_tag()}}
        <!--add type=hidden form fields -->

        {% for field in form if field.widget.input_type != 'hidden' %}

        <div class="form-group">
            {{field.label}}
            {{field(class_="form-control")}}

            {% for error in field.errors %}
            <small class="form-text text-danger">
                {{error}}
            </small>
            {% endfor %}
        </div>

        {% endfor %}

        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn btn-info" href="/">Cancel</a>
    </form>
</div>

{% endblock %}